services:
  auth:
    build: .
    container_name: auth_service
    restart: always
    env_file: .env
    ports: 
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"
      REDIS_URL: "redis://${REDIS_HOST_ADRESS}:${REDIS_PORT}/${REDIS_DB}"
      AUTH_URL: "http://auth-service:8000"
    depends_on:
      - db
      - redis
    networks:
      - app-network
  db:
    image: postgres:16
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
  redis:
    image: redis:7
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
